body {
    background: rgb(201, 165, 202);
}

h2 {
    color: maroon;
    text-align: center;
    font-size: 50px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 5, 48);
    color: seashell;
    font-size: 20px;
    text-align: center;

}

.opponent {
    text-align: center;
    font-size: 17px;
}

#players {
    font-size: 30px;
    background: cornflowerblue;
}

#begin {
    display: none;
}

#wht {
    display: none;
}